@media (min-width: 1200px) {
  .Register {
    background-color: #c2d6d6;
    /* min-height: 100vh; */
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
  }
}
.rbody {
  width: 500px;
  height: 500px;
  background-color: white;
  opacity: 0.8;
  align-items: center;
  margin: auto;
  padding-top: 25px;
}
#rh1 {
  margin-left: 20px;
  margin-top: 20px;
}
#rbtn {
  margin-left: 30px;
  width: 445px;
}
#bbtn {
  margin-top: 20px;
  margin-left: 25px;
}
.rej-err-msg {
  color: red;
}

@media (max-width: 480px) {
  .Register {
    background-color: none;
    /* min-height: 100vh; */
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
  }

  .rbody {
    margin-top: 100px;
  }
}
